{% extends "base.html" %}
{% block title %} AddUser {% endblock %}
{% block header %} 
{% include "header.html" %}
{% endblock %}

{% block content %}

<main class="container">
    <article>
        <h2>사용자 추가</h2>
        <form method="post" action="/adduser">
            
            <label for="user_id">Login ID</label>
            <input type="text" id="user_id" name="user_id" placeholder="Enter your Login ID" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>

            <label for="user_name">Name</label>
            <input type="text" id="user_name" name="user_name" placeholder="Enter your Name" required>

            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Enter your E-mail Address">

            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone" placeholder="Enter your mobile number">

            <label for="level">등급</label>
            <input type="number" id="level" name="level" min="0" max="10" required>

            <button type="submit">사용자 추가</button>

        </form>
    </article>
</main>

{% endblock %}

{% block footer %} 
{% include "footer.html" %}
{% endblock %}