<!DOCTYPE html>
<html data-theme="light">
    <head>
        <title>{% block title %}Base{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
        {% include "footer.html" %}{% endblock %}
        {% block script %}{% endblock %}
    </body>

</html>