<header>
    <h1> My Farm </h1>
    <nav>
        <ul>
            <li><strong><a href="/dashboard">Home</a></strong></li>
        </ul>
        <ul>
            <li>{{ session["user_name"] }} 님</li>
            <li><a href="/user">사용자정보</a></li>
            <li><a href="/device">장치정보</a></li>
            <li><a href="/adddevice">장치추가</a></li>
            <li><a href="/adduser">사용자추가</a></li>
            <li><a href="/for">학생리스트</a></li>
            <li><a href="/logout">LogOut</a></li>
        </ul>
    </nav>
</header>