{% extends "base.html" %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
        <h1>사용자 정보</h1>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>no</th>
                    <th>id</th>
                    <th>name</th>
                    <th>level</th>
                    <th>status</th>
                    <th>create_at</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <th>{{ user.user_id }}</th>
                    <th>{{ user.user_name }}</th>
                    <th>{{ user.level }}</th>
                    <th>{{ user.status }}</th>
                    <th>{{ user.create_at }}</th>
                </tr>
                {% endfor %}  
            </tbody>
        </table>
{% endblock %}

{% block script %}
    <script>
        for (var dan = 2; dan <= 9; dan += 2) {
            for (var i = 1; i <= 9; i++) {
                console.log(dan + " x " + i + " = " + (dan * i));
            }
        }
    </script>
{% endblock %}
